<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">paguina</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <div class="parent">
    <div class="div1"> 
      <ion-list calss="lista">
        <ion-item>
          <ion-checkbox justify="start">tarea de hionic</ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-checkbox justify="start">limpiar arenero del gato</ion-checkbox>
        </ion-item>
      
        <ion-item>
          <ion-checkbox justify="start">hacer la comida</ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-checkbox justify="start">leer libro</ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
    <div class="div2"> </div>


  </div>
</ion-content>
