<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paguina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">paguina</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="parent">
    <div class="div1"> </div>
    <div class="div2"> </div>
    <div class="div3"> </div>
    <div class="div4"> </div>
    <div class="div5"> </div>
    <div class="div6"> </div>
  </div>
</ion-content>
