<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ligin</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-input type="email" label="email" [(ngModel)]="email"></ion-input>
    <ion-input type="password" label="contraseña" [(ngModel)]="password"></ion-input>
    <ion-button expand="block" (click)="login()" (click)="consola()" [routerLink]="['/paguina']">iniciar sesión </ion-button>
    <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </ion-content>
</ion-content>