<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-card>
  <img alt="Silhouette of mountains" src="https://media.tenor.com/fF0W8PhK-tkAAAAe/wasa.png" />
  <ion-card-header>
    <ion-card-title>bienvenido a WAAAA mensajeria</ion-card-title>
    <ion-card-subtitle>para ingresar grite WSAAAAAA</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    WASAAAAAAAAAA
  </ion-card-content>
</ion-card>

<ion-button expand="block" [routerLink]="['/ligin']">iniciar secion</ion-button> 


</ion-content>